.modal {
  background-color: rgba(0, 0, 0, 0.95);

  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  &.open {
    transition: all 0.3s;
    transform: translateX(0);
    animation: fadein 1s;
  }
  &.closed {
    transition: all 0.3s;
    transform: translateX(-100%);
  }
  &__body {
    display: flex;
    justify-content: center;
    height: 75vh;
  }

  &__close-btn {
    cursor: pointer;
    position: absolute;
    top: 4%;
    right: 4%;
    z-index: 3;

    animation: fadein 1s;
  }
  &__bar {
    background-color: var(--color-grey-light);
    width: 3rem;
    height: 0.2rem;
    margin: 0.8rem 0;

    transition: 0.25s;
    transition-delay: 0.5s;
    z-index: 3;

    &:nth-of-type(1).cross {
      transform: rotate(-45deg) translate(-7px, 8px);
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:nth-of-type(3).cross {
      transform: rotate(45deg) translate(-7px, -8px);
    }
  }

  @include respond(desktop) {
    &.closed {
      transform: translateX(-100vw);
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
