$hero-bg: linear-gradient(
  to right,
  var(--color-primary),
  var(--color-primary-light)
);

.landing-page {
  background-image: $hero-bg;
  color: var(--color-white);
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    letter-spacing: var(--letter-spacing-sm);
    line-height: 1.8;
    margin-top: 5vh;
    max-width: 55rem;
    position: relative;
    width: 80vw;
    span:first-child {
      font-size: 5.6rem;
    }
    span:nth-child(2) {
      font-size: 1.6rem;
    }
    button {
      background-color: var(--color-dark-theme-primary);
      border: none;
      border-radius: 0.4rem;
      color: var(--color-white);
      cursor: pointer;
      font-family: 'Rubik', sans-serif;
      height: 4.5rem;
      letter-spacing: var(--letter-spacing-md);
      margin: 2rem auto 0 0;
      outline: none;
      width: 60%;
      max-width: 21rem;
      text-transform: uppercase;
      &:hover {
        background-color: var(--color-dark-theme-secondary);
      }
      &:active {
        transform: translateY(3px);
      }
    }
  }
  @include respond(tablet) {
    &__container {
      button {
        position: absolute;
        top: 14rem;
        right: 2rem;
      }
    }
  }
  @include respond(desktop) {
    justify-content: unset;
    div {
      margin-left: 10%;
    }
  }
}
