.auth-form {
  background-color: transparent;
  width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    animation: 0.25s ease-out slide-in-from-right;
    transition: var(--tzransition-fast);
  }
}

.set-form-display {
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: var(--letter-spacing-sm);
  align-self: center;
  margin-left: 2rem;
  margin-top: 2rem;
  width: 100%;
  span:first-child {
    color: var(--color-grey-light);
  }
  span:last-child {
    color: var(--color-primary);
    margin-left: 1rem;
    &:hover {
      cursor: pointer;
      color: var(--color-grey-light);
    }
  }
}
.signin-form,
.signup-form {
  @include default-form;
  display: grid;
  width: 32rem;
  h3 {
    letter-spacing: var(--letter-spacing-md);
  }
  align-items: center;
  @include respond(tablet) {
    width: 30rem;
  }
}

.signin-form {
  grid-template-rows: 6rem 10rem 10rem 6rem;
}
.signup-form {
  grid-template-rows: 6rem 9rem 9rem 9rem 6rem;
}
