.create-project-btn {
  display: none;

  background-color: var(--color-dark-theme-primary);
  border: 0.2rem dashed var(--color-grey-light);
  color: var(--color-grey-light);
  font-size: 2.6rem;
  font-weight: 300;
  height: 6.4rem;
  justify-content: center;
  letter-spacing: var(--letter-spacing-md);
  opacity: 0.8;
  padding: var(--padding-sm);
  width: 6.4rem;

  &:active {
    transform: translateY(2px);
  }
  &__text {
    display: none;
  }
  @include respond(tablet) {
    position: unset;

    display: flex;
    align-items: center;
    text-align: center;

    border-radius: 0.2rem;
    box-shadow: var(--box-shadow-medium);

    cursor: pointer;
    font-size: 1.4rem;
    height: 14rem;
    line-height: 2;
    padding: var(--padding-sm);
    width: 14rem;

    transition: box-shadow var(--transition-fast);
    transition: transform 0.1s;

    &:hover {
      box-shadow: 0 10px 20px rgb(0, 0, 0);
      transform: translateY(2px);
    }
    &:active {
      transform: translateY(-2px);
    }
    &__text {
      display: block;
    }
  }
}

.plus {
  font-size: inherit;
  @include respond(tablet) {
    margin-left: var(--margin-sm);
    display: none;
  }
}
