@import "styles/abstracts/mixins.scss";

.project-console {
  position: relative;
  height: 100%;
  width: 100%;
  padding: var(--padding-md);
  &__title {
    color: var(--color-grey-light);
    font-size: 2.1rem;
    font-weight: 300;
    letter-spacing: var(--letter-spacing-md);
  }
}
.polygon-border {
  background-color: var(--color-primary-light);
  clip-path: polygon(2% 0, 100% 0, 98% 100%, 0 100%);
  height: 0.8rem;
  max-width: 50rem;
  margin: 1.5rem 0;
  @include respond(tablet) {
    margin: 1rem 0 2rem 0;
  }
}
