@import "styles/abstracts/mixins";

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  &.open {
    transition: all 0.3s;
    transform: translateX(0);
    animation: fadein 1s;
  }
  &.closed {
    transition: all 0.3s;
    transform: translateX(-100%);
  }
  &__body {
    height: 70vh;
    width: 70vw;
  }
  @include respond(tablet) {
    &__body {
      width: 40rem;
    }
  }
  @include respond(desktop) {
    &.closed {
      transform: translateX(-100vw);
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
