.projects-console {
  height: calc(100% - 120px);
  padding: 0 var(--padding-md);
  width: 100%;
}

.create-project-btn {
  display: none;
  @include respond(tablet) {
    @include respond(tablet) {
      align-items: center;
      background-color: var(--color-dark-theme-primary);
      border: 0.2rem dashed var(--color-grey-light);
      border-radius: 0.2rem;
      box-shadow: var(--box-shadow-medium);
      color: var(--color-grey-light);
      cursor: pointer;
      display: flex;
      flex-direction: column;
      font-size: 1.4rem;
      height: 16rem;
      justify-content: center;
      letter-spacing: var(--letter-spacing-md);
      line-height: 2;
      padding: var(--padding-sm);
      position: unset;
      text-align: center;
      transition: var(--transition-fast);
      width: 16rem;
      &:hover {
        box-shadow: 0 10px 20px rgb(0, 0, 0);
        transform: translateY(2px);
      }
      &:active {
        transform: translateY(-2px);
      }
    }
  }
}
