.signup-form {
  @include default-form;
  display: grid;
  grid-template-rows: 6rem 9rem 9rem 9rem 6rem 6rem;
  width: 32rem;
  @include respond(tablet) {
    width: 30rem;
  }
  h3 {
    letter-spacing: var(--letter-spacing-md);
  }
  align-items: center;
}
