.dashboard-wrapper {
  background-color: var(--color-primary-light);
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  .dashboard {
    background-color: var(--color-dark-theme-secondary);
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100vw;
    &__content {
      &-header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 12rem;
        h3 {
          animation: slide-left 0.4s;
          color: var(--color-grey-light);
          font-size: 2rem;
          letter-spacing: var(--letter-spacing-md);
          margin-bottom: var(--margin-sm);
          margin-left: var(--margin-sm);
        }
      }
    }
    @include respond(desktop) {
      display: grid;
      grid-template-columns: 26rem auto;
      height: 95vh;
      width: 95vw;
    }
  }
}
