.dashboard-layout {
  background-color: var(--color-primary-light);
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-dark-theme-secondary);
  position: relative;

  &__content {
    width: 100%;
    height: 90vh;
  }
  @include respond(desktop) {
    display: grid;
    grid-template-columns: 26rem auto;
    max-width: 120rem;
    width: 95%;
    &__content {
      width: 100%;
      height: 100%;
    }
  }
}
